/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Raleway:300,500");
/* COLORS */
/* STRUCTURE */
/* SIZE MIXINS 600-900-1200-1800 */
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  color: #482a04; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
  color: #f29626; }

h1 {
  font-size: 2.2rem; }

h2 {
  font-size: 1.8rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.3rem; }

p {
  padding-left: 10px;
  padding-right: 10px; }

p.lead {
  font-size: 1.2rem; }

strong {
  font-weight: 400; }

em {
  font-style: italic; }

sup {
  vertical-align: super;
  font-size: 0.7em; }

a {
  text-decoration: none;
  color: #f29626; }
  a:hover {
    color: #a9610a; }

@media (min-width: 900px) {
  .container {
    width: 900px;
    margin: 0 auto; } }

.mast-head {
  background-color: #1f1202; }
  .mast-head .brand {
    display: inline-block;
    font-size: 1.5rem;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #f29626; }
    .mast-head .brand a {
      color: white; }

.content-title {
  padding-top: 10px;
  padding-bottom: 10px; }

.content-main p {
  padding-bottom: 15px; }

.warning {
  margin-top: 20px; }
  .warning p {
    font-style: italic;
    font-size: 0.9rem;
    color: #888 !important; }

.clearfix {
  clear: both; }

.subhead {
  margin-top: 10px; }

/* BUTTONS ON FRONT AND SEARCH PAGE */
.button-row {
  margin-top: 10px;
  margin-bottom: 10px; }
  .button-row .btn-half-row {
    width: 50%;
    float: left; }
    .button-row .btn-half-row .btn-half-left {
      float: right;
      margin-right: 20px; }
    .button-row .btn-half-row .btn-half-right {
      float: left;
      margin-left: 20px; }

.btn {
  border-radius: 3px;
  border-style: none;
  cursor: pointer; }

.main-btn {
  vertical-align: middle;
  color: white;
  padding: 5px 10px;
  background-color: #f29626;
  width: 150px;
  margin: 0 auto;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px; }
  .main-btn .btn-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1.0rem;
    padding-bottom: 5px;
    padding-left: 5px;
    display: inline-block; }
  .main-btn .fa {
    padding-top: 4px;
    padding-bottom: 8px; }

/* SEARCH BAR */
.search-box {
  font-size: 1.2rem;
  font-weight: 300;
  border: 1px solid #f29626;
  border-radius: 3px;
  padding-left: 5px;
  float: left; }

.search-btn {
  border-radius: 0px;
  color: #f29626;
  background-color: white;
  width: 34px;
  margin-left: 0px;
  float: left; }

/* CONTENT HOLDERS */
.content-map, .content-main {
  float: left; }
  @media (max-width: 599px) {
    .content-map, .content-main {
      width: 100%; } }
  @media (min-width: 600px) and (max-width: 899px) {
    .content-map, .content-main {
      width: 100%; } }
  @media (min-width: 900px) {
    .content-map, .content-main {
      width: 580px;
      height: 600px; } }

.content-main {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }
  .content-main table {
    margin: 10px 8px 25px; }

.content-map {
  border: 1px solid #f29626; }

.callout {
  color: #f29626; }

@media (max-width: 599px) {
  .advert {
    height: 100px;
    position: absolute;
    bottom: 0;
    width: 100%; }
    .advert .imgSq {
      display: none; }
    .advert .imgWi {
      margin-left: 10px; } }
@media (min-width: 600px) and (max-width: 899px) {
  .advert {
    height: 100px;
    position: absolute;
    bottom: 0;
    width: 100%; }
    .advert .imgSq {
      display: none; }
    .advert #carouselWi {
      margin-left: 10px; } }
@media (min-width: 900px) {
  .advert {
    float: right;
    margin-left: 20px;
    width: 300px;
    height: 600px; }
    .advert .imgWi {
      display: none; }
    .advert .imgSq {
      margin-left: 50px;
      margin-bottom: 50px; } }

.copyright {
  text-align: right;
  padding-right: 10px;
  font-size: 0.8rem; }
  @media (max-width: 599px) {
    .copyright {
      position: absolute;
      bottom: 105px;
      width: 100%; } }
  @media (min-width: 600px) and (max-width: 899px) {
    .copyright {
      position: absolute;
      bottom: 95px;
      width: 100%; } }
  @media (min-width: 900px) {
    .copyright {
      clear: both;
      padding-top: 10px; } }

/* STYLES FOR SLOPES */
div.tooltip {
  position: absolute;
  text-align: left;
  padding: 4px;
  font-size: 0.75rem;
  background: lightgrey;
  border: 0;
  border-radius: 5px;
  pointer-events: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px; }

path {
  stroke: white;
  stroke-width: 1 px; }

path.country {
  fill: #f5a94d; }

path.country_dim {
  fill: #f8c587; }

path.slopes.dry {
  fill: #0070A5; }

path.slopes.indoor {
  fill: #004d72; }

path.slopes.rolling {
  fill: #784507; }

path.slopes.snow {
  fill: #008fd3; }

/* STYLES FOR MODAL */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }

.modal-content {
  background-color: #eee;
  margin: 120px auto;
  padding: 20px;
  border: 1px solid #999;
  border-radius: 5px; }
  @media (max-width: 599px) {
    .modal-content {
      width: 350px; } }
  @media (min-width: 600px) and (max-width: 899px) {
    .modal-content {
      width: 350px; } }
  @media (min-width: 900px) {
    .modal-content {
      width: 350px; } }

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  line-height: 1; }
  .close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer; }

table {
  min-width: 80%; }
  table tr.table-content {
    font-size: 0.9rem;
    border-top: 1px solid #f29626; }
    table tr.table-content td.table-cat {
      padding-top: 4px;
      padding-right: 0.5em;
      font-weight: 500; }
    table tr.table-content td.cell-content {
      padding-bottom: 4px; }
  table tr.table-content-last td.cell-content {
    padding-bottom: 15px; }

/* NAVIGATION BAR */
button.menu-toggle-button {
  float: right;
  width: 45px;
  margin: 0 auto;
  padding-left: 9px;
  margin-right: 9px;
  margin-top: 0.6rem;
  background-color: #1f1202;
  border: 1px solid white;
  border-radius: 4px 4px 4px 4px; }
  button.menu-toggle-button:after {
    clear: right; }
  button.menu-toggle-button div.icon-bar {
    background-color: white;
    border-radius: 2px 2px 2px 2px;
    height: 2px;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    width: 25px; }
  @media (min-width: 600px) {
    button.menu-toggle-button {
      display: none; } }

.navbar-collapse,
.navbar-top-menu {
  display: none;
  background-color: #1f1202; }
  .navbar-collapse a,
  .navbar-collapse li,
  .navbar-collapse ul,
  .navbar-top-menu a,
  .navbar-top-menu li,
  .navbar-top-menu ul {
    color: white; }
  .navbar-collapse a:hover,
  .navbar-top-menu a:hover {
    color: #f29626; }
  .navbar-collapse ul ul a,
  .navbar-top-menu ul ul a {
    font-size: 111%; }
  .navbar-collapse ul ul ul li a,
  .navbar-top-menu ul ul ul li a {
    font-size: 121%; }
  .navbar-collapse ul,
  .navbar-top-menu ul {
    list-style: none;
    margin: 0;
    padding-left: 0; }
  .navbar-collapse a,
  .navbar-top-menu a {
    cursor: pointer; }

@media (min-width: 600px) {
  .navbar-top-menu {
    float: right;
    display: inline; } }
.navbar-top-menu ul ul {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 2.6em;
  left: -999em;
  z-index: 99999;
  background-color: #301c03;
  border: none;
  border-radius: 5px; }
  .navbar-top-menu ul ul ul {
    left: -999em;
    top: 0; }
    .navbar-top-menu ul ul ul li {
      width: 150px; }
  .navbar-top-menu ul ul li {
    padding: 0;
    margin-bottom: 0;
    padding: 0.8em 0.5em 0; }
    .navbar-top-menu ul ul li.focus > ul, .navbar-top-menu ul ul li:hover > ul {
      right: 100%; }
    .navbar-top-menu ul ul li:last-of-type {
      margin-bottom: 1.0rem; }
  .navbar-top-menu ul ul a {
    width: 150px; }
.navbar-top-menu ul li.focus > ul,
.navbar-top-menu ul li:hover > ul {
  left: auto; }
.navbar-top-menu li {
  float: left;
  position: relative;
  padding: 0.8em 0.5em 0; }
.navbar-top-menu a {
  display: block;
  text-decoration: none; }

.navbar-collapse {
  position: fixed;
  top: 50px;
  width: 100%;
  overflow: auto; }

#menu-copy,
#menu-copy.container,
#menu-copy.container ul,
.navbar-collapse {
  max-height: 75%; }

#menu-copy ul {
  display: block;
  padding: 0.8em 0.5em; }
  #menu-copy ul ul {
    display: none;
    z-index: 99999;
    background-color: #1f1202; }
    #menu-copy ul ul ul {
      display: none; }
#menu-copy a {
  text-decoration: none; }

/*# sourceMappingURL=main.css.map */
